.invocationPrompt {
  .title {
    margin-bottom: 25px;
    color: #1E1B53;
    font-weight: 500;
    font-size: 28px;
  }

  .icons {
    margin-bottom: 25px;
  }

  .subtitle {
    margin-bottom: 15px;
    color: #1E1B53;
    font-size: 18px;
    font-weight: 500;
  }

  .body {
    margin-bottom: 10px;
    color: #1E1B53;
    line-height: 25px;
    font-size: 14px;
  }
}
